@import '../../styles/_mixin';

.header {
  width: 100%;
  background: #222222;
  color: #ffffff;

  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include Responsive(M) {
      flex-direction: column;
    }

    .topLeft {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include Responsive(M) {
        flex-direction: column;
      }

      p {
        line-height: 24px;
        color: #dddddd;
        font-size: 13px;
        display: inline-block;
        margin: 0;
      }

      .socialIcon {
        padding: 8px 0px;
        margin-right: 25px;
        display: inline-block;
        border-right: 1px solid #434343;

        @include Responsive(M) {
          margin: 0;
          border: none;
        }

        a {
          position: relative;
          display: inline-block;
          text-align: center;
          margin-right: 26px;
          line-height: 22px;
          font-size: 13px;
          color: #dddddd;
          &:hover {
            color: #feb518;
          }

          @include Responsive(M) {
            margin: 0 10px;
          }
        }
      }
    }

    .topRight {
      p,
      span {
        margin: 0;
        color: #dddddd;
        font-size: 13px;
        display: inline-block;
        padding: 8px 18px;
        background-color: #222222;
        border-left: 1px solid #434343;
      }

      .icon {
        position: relative;

        .count {
          position: absolute;
          padding: 0;
          right: 8px;
          top: 18px;
          font-size: 10px;
          width: 16px;
          height: 16px;
          line-height: 16px;
          color: #ffffff;
          text-align: center;
          border-radius: 50%;
          display: inline-block;
          background-color: #feb518;
        }
      }

      p {
        @include Responsive(M) {
          border-left: none;
        }

        @include Responsive(M) {
          padding: 8px;
        }
      }

      .space {
        @include Responsive(XS) {
          display: none;
        }
      }
    }
  }
}
