@import '../../../styles/_mixin';

.testimonial {
  position: relative;
  padding: 100px 0 50px;

  @include Responsive(XS) {
    padding: 50px 0 30px;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.5);
    z-index: 0;
  }

  .mySwiper {
    text-align: center;

    .text {
      color: #ffffff;
      font-size: 18px;
      max-width: 890px;
      margin: 0 auto;
      line-height: 2em;

      i {
        color: #ffffff;
        font-size: 32px;
        margin-bottom: 25px;
      }
    }

    .name {
      margin-bottom: 50px;
      color: #feb518;
      font-size: 29px;
      margin-top: 15px;
      font-family: 'Dancing Script', cursive;

      span {
        color: #fff;
        font-family: 'Roboto Slab', serif;
      }
    }

    .pagination {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: none;
      z-index: 2;
      border: 1px solid #d3d3d3;
      position: relative;
      bottom: 0px;
      opacity: 1 !important;

      // &:hover,
      &.active {
        background-color: #feb518;
        border-color: #feb518;
      }
    }
  }
}
