@import '../../../styles/_mixin';

.breakfastMenu {
  .breakfastMenuInner {
    .titleWrap {
      .icon {
        text-align: center;
        max-width: 175px;
        width: 100%;
        margin: 0 auto;

        @include Responsive(M) {
          max-width: 150px;
        }

        // @include Responsive(XS) {
        //   max-width: 100px;
        // }
      }
    }

    .mainContent {
      margin-top: 70px;
    }
  }
}
