@import '../../../styles/_mixin';

.blogSection {
  .blogSectionInner {
    display: flex;
    justify-content: space-between;
    gap: 35px;

    @include Responsive(M) {
      flex-direction: column;
    }

    .blogList {
      .blogContent {
        margin-bottom: 55px;
      }
    }
  }
}
