@import '../../../styles/_mixin';

.restaurantDiscover {
  @include Responsive(M) {
    padding-bottom: 120px;
  }
  .restaurantDiscoverInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include Responsive(M) {
      flex-direction: column;
      text-align: center;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }

    .mainContent {
      .title {
        // text-align: left;

        @include Responsive(M) {
          text-align: center;
        }
      }

      .description {
        margin-bottom: 20px;
      }

      .button {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 40px;

        &:hover {
          color: #feb518;
        }
      }
    }

    .mySwiper {
      padding: 70px 0 100px;
      width: 50%;
      flex-shrink: 0;

      @include Responsive(M) {
        width: 90%;
        padding: 0;
        margin-top: 50px;
      }

      .swiperSlide {
        position: relative;
        right: -170px;
        cursor: pointer;

        @include Responsive(M) {
          right: unset;
        }

        .image {
          position: relative;
          max-width: 100%;
          width: 100%;
          margin: 0;

          &.active {
            transform: scale(1.2);

            @include Responsive(M) {
              transform: scale(1);
            }
          }
        }
      }

      .pagination {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: none;
        z-index: 2;
        border: 1px solid #d3d3d3;
        position: relative;
        bottom: 0px;
        opacity: 1 !important;

        // &:hover,
        &.active {
          background-color: #feb518;
          border-color: #feb518;
        }
      }
    }
  }
}
