@import '../../../styles/_mixin';

.ourDeliciousCombo {
  .ourDeliciousComboInner {
    .mainContent {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 40px -15px 0;
    }

    .button {
      display: block;
      margin: 20px auto 10px;
      padding: 10px 51px;
      line-height: 26px;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        color: #feb518;
      }
    }
  }
}
