@import '../../styles/_mixin';

.mainTitle {
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 0 20px;

  .title {
    font-size: 38px;
    font-weight: 500;
    color: #feb518;
    font-family: 'Dancing Script', cursive;
    line-height: 1.4em;

    @include Responsive(XS) {
      font-size: 30px;
    }
  }

  .slogan {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    text-transform: capitalize;
    line-height: 1.4em;

    @include Responsive(XS) {
      font-size: 20px;
    }
  }

  &.style1 {
    margin: 0;

    .title {
      color: #feb518;
      font-size: 38px;
      margin: 0;
      line-height: 1.6em;
    }

    .slogan {
      color: #ffffff;
      font-size: 36px;
      line-height: 1.6em;
    }
  }

  &.style2 {
    text-align: left;

    .title {
      font-size: 33px;
      margin: 0;
      line-height: 1.4em;
    }

    .slogan {
      font-size: 28px;
      line-height: 1.4em;
    }
  }
}
