.mainTitle {
  text-align: center;

  h2 {
    font-size: 38px;
    font-weight: 700;
    color: #feb518;
    line-height: 1.4em;
    font-family: 'Dancing Script', cursive;
    margin: 0 0 5px;
  }

  h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.4em;
    margin: 0 0 20px;
  }
}
