@import '../../../styles/_mixin';

.blogSingleSection {
  .blogSingleSectionInner {
    display: flex;
    justify-content: space-between;
    gap: 35px;

    @include Responsive(M) {
      flex-direction: column;
    }

    .blogWrap {
      .image {
        position: relative;
        display: block;
        margin: 0 auto 20px;
        max-width: 100%;
        width: 100%;
      }

      .title {
        margin-top: 30px;
        color: #333333;
        font-size: 18px;
        text-transform: capitalize;
        transition: color 0.5s;

        &:hover {
          color: #feb518;
        }
      }

      .date {
        color: #777777;
        font-size: 14px;
        margin-bottom: 10px;

        .highlight {
          color: #feb518;
        }
      }

      .description {
        color: #777777;
        font-size: 14px;
        margin-bottom: 18px;
      }

      .comments {
        padding: 15px 30px;
        background: #fbfbfb;

        @include Responsive(XS) {
          padding: 10px;
        }

        .title {
          color: #1a1a1a;
          font-family: 'Lato', serif;
          font-weight: 500;
          font-size: 18px;
          text-transform: capitalize;
          margin-bottom: 50px;
        }
      }
    }
  }
}
