.ourServices {
  .ourServicesInner {
    text-align: center;

    .mainContent {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      .content {
        padding: 0 10px;

        .title {
          color: #333333;
          font-size: 22px;
          margin: 10px 0 20px;
          line-height: 1.6em;
          font-weight: 400;
          display: block;
        }

        .description {
          font-size: 14px;
          color: #777777;
          margin: 8px 0 12px;
        }

        .url {
          cursor: pointer;
          color: #feb518;
          transition: 0.5s;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
