@import '../../styles/_mixin';

.parallax {
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 200px 0;

  @include Responsive(M) {
    min-height: 400px;
    padding: 100px 0;
  }

  @include Responsive(XS) {
    min-height: 350px;
    padding: 50px 0;
  }

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
