.pageTitle {
  .pageTitleInner {
    .title {
      position: relative;
      z-index: 1;
      text-align: center;
      color: #ffffff;
      font-size: 28px;
      font-weight: 700;
      font-family: 'Roboto Slab', serif;
    }
  }
}
