.blogContent {
  width: 100%;

  .aboveContent {
    pointer-events: none;

    &:hover {
      .image {
        img {
          transform: scale(1.2);
        }
      }
    }

    .image {
      // min-height: 400px;
      position: relative;
      display: block;
      margin: 0 auto 20px;
      max-width: 100%;
      width: 100%;
      min-height: 450px;

      img {
        transition: transform 0.5s;
      }
      // height: 400px;

      pointer-events: auto;
    }

    .title {
      margin-top: 30px;
      color: #333333;
      font-size: 18px;
      text-transform: capitalize;
      transition: color 0.5s;

      pointer-events: auto;

      &:hover {
        color: #feb518;
      }
    }

    .date {
      color: #777777;
      font-size: 14px;
      margin-bottom: 10px;

      .highlight {
        color: #feb518;
      }
    }

    .description {
      color: #777777;
      font-size: 14px;
      margin-bottom: 18px;
    }
  }
}

.belowContent {
  padding-top: 15px;
  margin-top: 22px;
  border-top: 1px dashed #d6d6d6;
  display: flex;
  justify-content: space-between;

  .url {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.5s;
    cursor: pointer;

    &:hover {
      color: #feb518;
    }
  }

  .numComments,
  .numLikes {
    color: #777777;
    font-size: 14px;
    margin-left: 10px;

    &:hover {
      color: #777777;
    }
  }
}
