@import '../../../styles/_mixin';

.ourSpecialDishes {
  .ourSpecialDishesInner {
    .mainContent {
      display: flex;
      justify-content: space-between;
      gap: 50px;

      @include Responsive(M) {
        flex-direction: column;
        align-items: center;
      }

      .openingHours {
        background-image: url('../../../assets/images/opening-bg.jpg');
        padding: 32px 30px;
        background-size: cover;
        outline: 1px dashed #818181;
        outline-offset: -30px;
        height: fit-content;

        @include Responsive(M) {
          width: 100%;
        }

        .title {
          font-size: 14px;
          color: #feb518;
          margin-top: -4px;
          min-height: 42px;
          text-align: center;
          line-height: 32px;
          margin-bottom: 50px;
          background: url('../../../assets/images/title-bg.png') center top
            no-repeat;
        }

        .openingHoursWrap {
          max-width: 100%;
          width: 100%;
        }
      }

      .specialList {
        width: 70%;

        @include Responsive(M) {
          width: 100%;
        }
      }
    }
  }
}
