@import '../../styles/_mixin';

.footer {
  .footerTop {
    // width: 100%;
    background-color: #151515;
    color: #888888;

    .footerInner {
      display: flex;
      justify-content: space-between;
      padding: 100px 0px;
      margin: 0 -15px;

      @include Responsive(M) {
        flex-wrap: wrap;
        padding: 70px 0;
      }

      @include Responsive(XS) {
        padding: 50px 0;
      }

      .contentWrap {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding: 0 15px;

        @include Responsive(M) {
          width: 50%;
          margin-bottom: 20px;
        }

        @include Responsive(XS) {
          width: 100%;
        }

        .title {
          position: relative;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0 0 35px;
          padding: 12px 0px 5px;
          color: #cccccc;
          font-family: 'Roboto Slab', serif;

          &:after {
            position: absolute;
            content: '';
            width: 30px;
            height: 1px;
            left: 0px;
            bottom: 0px;
            background-color: #feb518;
          }
        }

        &.aboutWidget {
          .logo {
            max-width: 180px;
            width: 100%;
            margin: 0;
          }

          .description {
            margin: 10px 0 20px;
          }

          .contactInfo {
            margin: 0 0 10px;
          }
        }

        &.usefulLink {
          flex-shrink: 9;
        }
      }
    }
  }

  .footerBottom {
    text-align: center;
    padding: 34px 0px;
    background-color: #111111;

    .footerBottomInner {
      .copyright {
        margin: 0;
        color: #999999;
        font-size: 13px;
      }
    }
  }
}
