backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
media_folder: public/img
public_folder: /img
collections:
  - name: 'pages'
    label: 'Pages'
    files:
      - label: 'Home'
        name: 'home'
        file: 'content/home.md'
        fields:
          - label: 'Section 1'
            name: 'section1'
            widget: 'object'
            collapsed: true
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Slogan', name: 'slogan', widget: 'string' }
              - { label: 'Description1', name: 'description1', widget: 'text' }
              - { label: 'Description2', name: 'description2', widget: 'text' }
              - label: 'Swiper Images'
                name: 'swiperImages'
                widget: list
                fields:
                  - { label: 'Image Source', name: 'imgSrc', widget: 'image' }
                  - { label: 'Image Alt', name: 'imgAlt', widget: 'string' }
          - label: 'Section 2'
            name: 'section2'
            widget: 'object'
            collapsed: true
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Slogan', name: 'slogan', widget: 'string' }
              - {
                  label: 'Background Image',
                  name: 'background1',
                  widget: 'image',
                }
