backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
  local_backend: true
  repo: danieltran3110/restaurantNhatTam
media_folder: public/img
public_folder: /img
collections:
  - name: 'pages'
    label: 'Pages'
    files:
      - label: 'Home'
        name: 'home'
        file: 'content/home.md'
        fields:
          - label: 'Section 1'
            name: 'section1'
            widget: 'object'
            collapsed: true
            fields:
              - label: 'Slider Images'
                name: 'slideshowImages'
                widget: 'list'
                fields:
                  - { label: 'Image Source', name: 'imgSrc', widget: 'image' }
                  - { label: 'Image Alt', name: 'imgAlt', widget: 'string' }
                  - { label: 'Title', name: 'title', widget: 'text' }
                  - {
                      label: 'Description',
                      name: 'description',
                      widget: 'text',
                    }
                  - {
                      label: 'Icon Source',
                      name: 'iconSrc',
                      widget: 'image',
                      required: false,
                    }
                  - {
                      label: 'Icon Alt',
                      name: 'iconAlt',
                      widget: 'string',
                      required: false,
                    }
                  - {
                      label: 'Style',
                      name: 'style',
                      widget: 'string',
                      required: false,
                    }
          - label: 'Section 2'
            name: 'section2'
            widget: 'object'
            collapsed: true
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Slogan', name: 'slogan', widget: 'string' }
              - { label: 'Description1', name: 'description1', widget: 'text' }
              - { label: 'Description2', name: 'description2', widget: 'text' }
              - label: 'Swiper Images'
                name: 'swiperImages'
                widget: list
                fields:
                  - { label: 'Image Source', name: 'imgSrc', widget: 'image' }
                  - { label: 'Image Alt', name: 'imgAlt', widget: 'string' }
          - label: 'Section 3'
            name: 'section3'
            widget: 'object'
            collapsed: true
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Slogan', name: 'slogan', widget: 'string' }
              - {
                  label: 'Background Image',
                  name: 'background1',
                  widget: 'image',
                }
      - label: 'Blogs'
        name: 'blogs'
        file: 'content/blogs.md'
        fields:
          - {
              label: 'Background Image',
              name: 'backgroundImage',
              widget: 'image',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Slogan', name: 'slogan', widget: 'string' }
  - name: 'blog' # Used in routes, e.g., /admin/collections/blog
    label: 'Blog' # Used in the UI
    folder: 'content/blogs' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Title', name: 'title', widget: 'string' }
      - {
          label: 'Publish Date',
          name: 'date',
          widget: 'datetime',
          date_format: 'DD.MM.YYYY',
          time_format: 'HH:mm',
          format: 'LLL',
        }
      - { label: 'Background Image', name: 'backgroundImage', widget: 'image' }
      - { label: 'Blog Image', name: 'imgSrc', widget: 'image' }
      - { label: 'Blog Image Alt', name: 'imgAlt', widget: 'string' }
      - { label: 'Author', name: 'author', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'text' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - label: 'Comments'
        name: 'comments'
        widget: 'list'
        fields: # The fields for each document, usually in front matter
          - { label: 'Author Avatar', name: 'imgSrc', widget: 'image' }
          - { label: 'Author Avatar Alt', name: 'imgAlt', widget: 'string' }
          - { label: 'Author Name', name: 'name', widget: 'string' }
          - {
              label: 'Publish Date',
              name: 'date',
              widget: 'datetime',
              date_format: 'DD.MM.YYYY',
              time_format: 'HH:mm',
              format: 'LLL',
            }
          - { label: 'Comment', name: 'comment', widget: 'text' }
