@import '../../../styles/_mixin';

.ourDeliciousMenu {
  padding: 120px 0;
  position: relative;

  @include Responsive(XS) {
    padding: 50px 0;
  }

  .ourDeliciousMenuInner {
    padding: 70px 50px 100px;
    border: 9px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    position: relative;

    @include Responsive(M) {
      flex-direction: column;
      align-items: center;
    }

    @include Responsive(XS) {
      padding: 20px 10px;
    }

    &::after {
      position: absolute;
      content: '';
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(13, 13, 13, 0.8);
      z-index: 0;
    }

    .swiperWrap {
      width: 40%;
      margin: 0;
      // flex-grow: 4;

      @include Responsive(M) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .title {
        position: relative;
        z-index: 1;
        font-size: 45px;
        color: #ffffff;
        line-height: 46px;
        font-family: 'Dancing Script', cursive;

        @include Responsive(M) {
          text-align: center;
        }
      }

      .slogan {
        position: relative;
        z-index: 1;
        color: #ffffff;
        margin-bottom: 40px;
        font-family: 'Roboto Slab', serif;
      }

      .mySwiper {
        padding: 10px 0 60px;
        width: -webkit-fill-available;
        text-align: center;

        .image {
          margin: 0;
        }

        .prev,
        .next {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 33px;
          height: 33px;
          margin: 0px;
          margin-right: 10px;
          text-align: center;
          display: inline-block;
          background-color: #262727;
          color: #ffffff;
          border-radius: 0px;
          z-index: 2;
          cursor: pointer;
          // padding: 10px;
          // display: flex;

          @include Responsive(M) {
            top: 45%;
            bottom: unset;
          }

          &:hover {
            background: none repeat scroll 0 0 #869791;
          }

          i {
            vertical-align: -webkit-baseline-middle;
          }
        }

        .next {
          left: 50px;

          @include Responsive(M) {
            left: unset;
            right: 0;
          }
        }
      }
    }

    .mainContent {
      margin-left: 20px;
      padding: 0 10px;
      position: relative;
      z-index: 1;
      width: -webkit-fill-available;

      // flex-grow: 6;
      @include Responsive(M) {
        margin-left: 0;
      }

      .title {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 30px;

        @include Responsive(M) {
          text-align: center;
        }
      }

      .content {
        display: flex;
        margin: 0 0 20px;

        @include Responsive(XS) {
          flex-direction: column;
          align-items: center;
          margin: 0;
        }

        .image {
          position: relative;
          height: 86px;
          margin: 0;
          flex-shrink: 0;

          @include Responsive(XS) {
            margin-bottom: 20px;
          }

          p {
            position: absolute;
            left: 2px;
            top: 2px;
            line-height: 17px;
            padding: 0px 11px;
            font-size: 11px;
            color: #333333;
            background-color: #feb518;
            font-family: 'Roboto', sans-serif;
          }
        }

        .text {
          margin-left: 20px;
          width: -webkit-fill-available;

          .inlineWrap {
            color: #ffffff;
            font-size: 17px;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .inlineText {
              margin: 0;
            }

            @include Responsive(XS) {
              flex-direction: column;
              text-align: center;
            }
          }

          .description {
            color: #aaaaaa;
            margin: 10px 0 0;

            @include Responsive(XS) {
              margin: 0 auto 30px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
