@import '../../../styles/_mixin';

.ourDeliciousMenu {
  padding: 120px 0;
  position: relative;

  @include Responsive(XS) {
    padding: 50px 0;
  }

  &::after {
    content: none;
  }

  .ourDeliciousMenuInner {
    padding: 72px 70px 55px 100px;
    border: 9px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 50px;

    @include Responsive(M) {
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }

    @include Responsive(XS) {
      padding: 20px;
    }

    &::after {
      position: absolute;
      content: '';
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(13, 13, 13, 0.8);
      z-index: 0;
    }

    .swiperWrap {
      width: 35%;
      margin: 0;
      position: relative;

      @include Responsive(M) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
      }

      .title {
        position: relative;
        z-index: 1;
        font-size: 45px;
        color: #ffffff;
        line-height: 46px;
        font-family: 'Dancing Script', cursive;
      }

      .slogan {
        position: relative;
        z-index: 1;
        color: #ffffff;
        margin-bottom: 40px;
        font-family: 'Roboto Slab', serif;
      }

      .mySwiper {
        padding: 10px 0 60px;
        width: -webkit-fill-available;
        text-align: center;

        .image {
          margin: 0;
          max-width: 100%;
          width: 100%;
        }

        .prev,
        .next {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 33px;
          height: 33px;
          margin: 0px;
          text-align: center;
          display: inline-block;
          background-color: #262727;
          color: #ffffff;
          border-radius: 0px;
          z-index: 2;
          cursor: pointer;

          &:hover {
            background: none repeat scroll 0 0 #869791;
          }

          i {
            vertical-align: -webkit-baseline-middle;
          }
        }

        .next {
          left: 50px;
        }
      }
    }

    .mainContent {
      position: relative;
      z-index: 1;
      width: -webkit-fill-available;

      @include Responsive(M) {
        margin: 0 -10px;
      }

      .title {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 30px;
        padding-left: 10px;

        @include Responsive(M) {
          text-align: center;
          padding: 0;
        }
      }
    }
  }
}
