.ourDelicious {
  .mainContent {
    .mySwiper {
      margin: 0 auto;
      padding: 50px 0;

      .image {
        max-width: 288px;
        max-height: 288px;
        height: 100%;
        display: flex;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        .caption {
          opacity: 0;
          position: absolute;
          padding-top: 50%;
          text-align: center;
          left: 3%;
          top: 3%;
          width: 94%;
          height: 94%;
          display: block;
          border-radius: 50%;
          overflow: hidden;
          background-color: rgba(254, 181, 24, 0.8);
          transition: 0.5s;

          &:hover {
            opacity: 1;
          }

          a {
            position: relative;
            top: -10px;
            margin: 0 5px;
            font-size: 14px;
            color: #ffffff;
          }
        }
      }

      .lowerContent {
        margin-top: 30px;
        text-align: center;

        .name {
          color: #333333;
          font-size: 20px;
        }

        .position {
          color: #feb518;
          font-size: 15px;
        }
      }
    }
  }
}
