.openingHoursItem {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 26px;
  list-style: none;
  text-align: center;

  .phone {
    color: #feb518;
    font-size: 25px;
    font-weight: 500;
    margin: 60px 0px 25px 0px;
    font-family: 'Dancing Script', cursive;
  }
}
