@import '../../../styles/_mixin';
.shopSingleSection {
  .shopSingleSectionInner {
    display: flex;
    justify-content: space-between;

    @include Responsive(M) {
      flex-direction: column;
    }

    .productWrap {
      width: -webkit-fill-available;
      margin-left: 30px;

      @include Responsive(M) {
        margin-left: 0;
      }

      .relatedProduct {
        padding: 80px 0px 100px;

        @include Responsive(M) {
          padding: 60px 0px 80px;
        }

        @include Responsive(XS) {
          padding: 30px 0px 50px;
        }

        .title {
          // font-family: 'Roboto Slab', serif;
          font-size: 26px;
          font-weight: 700;
          color: #333333;
          // margin-bottom: 20px;
          text-transform: capitalize;
          line-height: 1.4em;
          text-align: center;

          margin-bottom: 60px;
        }

        .relatedProductWrap {
          display: flex;
          margin: 0 -15px;

          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          // .relatedProductItem {
          // }
        }
      }
    }
  }
}
