@import '../../../styles/_mixin';

.ourBlog {
  .ourBlogInner {
    .mainContent {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      margin: 0 -15px;
      flex-wrap: wrap;

      .content {
        padding: 0 15px;
        max-width: 33.33333333333%;
        width: 100%;
        margin: 0 auto 30px;

        @include Responsive(M) {
          max-width: 50%;
        }

        @include Responsive(XS) {
          max-width: 100%;
          text-align: center;
        }

        pointer-events: none;

        &:hover {
          .image {
            img {
              transform: scale(1.2);
            }
          }
        }

        .image {
          // min-height: 400px;
          position: relative;
          display: block;
          margin: 0 auto 20px;
          max-width: 100%;
          width: 100%;

          img {
            transition: transform 0.5s;
          }
          // height: 400px;

          pointer-events: auto;
        }

        .title {
          margin-top: 30px;
          color: #333333;
          font-size: 18px;
          text-transform: capitalize;
          transition: color 0.5s;

          pointer-events: auto;

          &:hover {
            color: #feb518;
          }
        }

        .time {
          color: #777777;
          font-size: 14px;
          margin-bottom: 10px;

          span {
            color: #feb518;
          }
        }

        p {
          color: #777777;
          font-size: 14px;
          margin-bottom: 18px;
        }
      }

      .lowerContent {
        padding-top: 15px;
        margin-top: 22px;
        border-top: 1px dashed #d6d6d6;
        display: flex;
        justify-content: space-between;

        .url {
          color: #333333;
          font-size: 14px;
          font-weight: 700;
          transition: color 0.5s;

          &:hover {
            color: #feb518;
          }
        }

        .like {
          color: #777777;
          font-size: 14px;

          &:hover {
            color: #777777;
          }
        }
      }
    }
  }
}
