@import '../../../styles/_mixin';

.ourBlog {
  .ourBlogInner {
    .mainContent {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      @include Responsive(M) {
        flex-wrap: wrap;
      }

      .content {
        padding: 0 15px;

        @include Responsive(M) {
          width: 50%;
          margin: 0 auto 30px;
        }

        @include Responsive(XS) {
          width: 100%;
          text-align: center;
        }

        .image {
          width: fit-content;
          margin: 0 auto 20px;
        }

        .title {
          color: #333333;
          font-size: 18px;
          text-transform: capitalize;
          transition: 0.5s;

          &:hover {
            color: #feb518;
          }
        }

        .time {
          color: #777777;
          font-size: 14px;
          margin-bottom: 10px;

          span {
            color: #feb518;
          }
        }

        p {
          color: #777777;
          font-size: 14px;
          margin-bottom: 18px;
        }
      }

      .lowerContent {
        padding-top: 15px;
        margin-top: 22px;
        border-top: 1px dashed #d6d6d6;
        display: flex;
        justify-content: space-between;

        .readMore {
          color: #333333;
          font-size: 14px;
          font-weight: 700;
          transition: 0.5s;

          &:hover {
            color: #feb518;
          }
        }

        .like {
          color: #777777;
          font-size: 14px;

          &:hover {
            color: #777777;
          }
        }
      }
    }
  }
}
